name: Test (Nightly)
on:
  workflow_call:
    inputs:
      bazel_otp_name:
        required: true
        type: string
      branch:
        required: true
        type: string
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: CHECKOUT
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.branch }}
    - name: MOUNT BAZEL CACHE
      uses: actions/cache@v3.3.1
      with:
        path: "/home/runner/repo-cache/"
        key: ${{ runner.os }}-repo-cache-${{ hashFiles('MODULE.bazel','WORKSPACE.bazel') }}
        restore-keys: |
          ${{ runner.os }}-repo-cache-
    - name: CONFIGURE BAZEL
      run: |
        if [ -n "${{ secrets.BUILDBUDDY_API_KEY }}" ]; then
        cat << EOF >> user.bazelrc
          build:buildbuddy --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_API_KEY }}
        EOF
        fi
        cat << EOF >> user.bazelrc
          build:buildbuddy --build_metadata=ROLE=CI
          build:buildbuddy --build_metadata=VISIBILITY=PUBLIC
          build:buildbuddy --repository_cache=/home/runner/repo-cache/
          build:buildbuddy --color=yes
          build:buildbuddy --disk_cache=
        EOF

        bazelisk info release
    - name: CONFIGURE rabbitmq-server BRANCH
      run: |
        sudo npm install --global --silent @bazel/buildozer

        branch="${{ inputs.branch }}"
        version="${branch#v}"

        echo "$(cat MODULE.bazel | buildozer 'set strip_prefix "rabbitmq-server-'${version}'"' -:%archive_override)" > MODULE.bazel
        echo "$(cat MODULE.bazel | buildozer 'set urls ["https://github.com/rabbitmq/rabbitmq-server/archive/refs/heads/${{ inputs.branch }}.zip"]' -:%archive_override)" > MODULE.bazel

        git diff
    - name: TEST
      run: |
        bazelisk test //... \
          --config=rbe-${{ inputs.bazel_otp_name }} \
          --verbose_failures
